@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Muli';
    /* height: 100vh; */
    margin: 0;
}

.reviewStyle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviewStyle > p {
    text-align: left;
}

.btnTask3 {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
}

.btnTask3:active {
    opacity: 0.8;
}